* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --milk-white: #f5f5f5;
  --primary-text-color: #2b2b2b;
  --secondary-text-color: #333333;
  --tertiary-text-color: #c1c1c1;
  --heading-font: ;
  --text-font: ;
}

body {
  background: #f5f5f5;
  min-height: 100vh;
  background: radial-gradient(circle at top right, #e0e7ff, #f5f5f5, #fae8ff);
  min-height: 100vh;
}

/* -------- Nav Bar styling -------- */

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.glass-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.2);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari support */

  /* Modern styling */
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 5px 0 rgba(31, 38, 135, 0.37);

  /* Layout for the navbar */
  margin-top: 0;
  padding: 1.2rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#nav-logo {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  cursor: pointer;
}

#nav-logo a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.theme-icon-container {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.theme-icon-container:hover {
  background-color: var(--tertiary-text-color);
}

.theme-icon-container i {
  text-align: center;
  color: #333333;
  font-size: 1.5rem;
}

/* -------- Hero section styling -------- */

.hero-section {
  padding-top: 8rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
