/* -------- QR Generation Section -------- */

.qr-type-btn {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  border: transparent;
  border-radius: 0.3rem;
  background-color: var(--primary-text-color);
  color: var(--milk-white);
  cursor: pointer;
}

.qr-type-btn:not(.active) {
  transition: 0.3s ease;
}

.qr-type-btn:not(.active):hover {
  color: var(--primary-text-color);
  background-color: var(--tertiary-text-color);
}

.qr-type-btn.active {
  color: var(--primary-text-color);
  background-color: var(--milk-white);
  outline: 1px solid var(--tertiary-text-color);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in-out;
}

.qr-type-btn.active:hover {
  box-shadow: none;
}

.form-type {
  display: none;
  transition: 0.3s ease-in-out;
}

.form-type.active {
  display: block;
}

.form-row {
  margin-bottom: 2rem;
}

.form-row input,
.form-row textarea {
  width: 100%;
  padding: 1rem;
}

.color-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.color-box input[type="color"] {
  width: 5rem;
  height: 3.5rem;
  padding: 0 0.1rem;
  border: none;
  cursor: pointer;
}

.color-box input[type="text"] {
  width: 9rem;
  text-transform: uppercase;
}

/* -------- How it works Section -------- */

.feature-card {
  flex: 0 1 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}

.feature-card:hover {
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--tertiary-text-color);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  background-color: var(--tertiary-text-color);
  font-size: 1.7rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.feature-card h4 {
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 400;
}

.feature-card h5 {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.feature-card p {
  font-size: 1.1rem;
  line-height: 1.6;
}
