.content-wrapper {
  width: 70%;
  margin: 0 auto;
}

/* -------- Nav Bar styling -------- */

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.glass-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.2);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari support */

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0.5px 5px 0 rgba(31, 38, 135, 0.3);

  margin-top: 0;
  padding: 1.2rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heading-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  cursor: pointer;
  gap: 0.5rem;
}

#nav-logo {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
}

#nav-logo a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.theme-icon-container {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.theme-icon-container:hover {
  background-color: var(--tertiary-text-color);
}

.theme-icon-container i {
  text-align: center;
  color: #333333;
  font-size: 1.5rem;
}

/* -------- Hero section styling -------- */

.hero-section {
  padding-top: 9rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -------- QR Generation Section -------- */

.generation-section {
  margin-bottom: 10rem;
}

.generation-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 4rem;
}

/* -------- How it works Section -------- */

.features-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  width: 100%;
}

/* -------- Footer Styling -------- */

.footer-section {
  width: 100%;
  background-color: var(--primary-text-color);
  color: var(--milk-white);
  padding: 4rem 10% 2rem;
  margin-top: 2rem;
}

.footer-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.brand-col {
  flex: 1;
}

.footer-nav {
  flex: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
}

.footer-header {
  font-family: var(--heading-font);
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: var(--milk-white);
}

.footer-logo h3 {
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.footer-column {
  padding: 1rem;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.footer-column a {
  color: var(--tertiary-text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column a:hover {
  color: var(--milk-white);
}

.footer-bottom {
  text-align: center;
  margin-top: 6rem;
  padding-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 1.2rem;
  color: var(--tertiary-text-color);
}

.footer-bottom a {
  text-decoration: none;
  padding: 0.3rem 0.5rem;
  background-color: var(--secondary-text-color);
  border-radius: 0.8rem;
  color: var(--milk-white);
  transition: 0.3s ease;
}

.footer-bottom a:hover {
  color: var(--primary-text-color);
  background-color: var(--tertiary-text-color);
}

/* ---------------------------------------------- */
