body {
  background: #f5f5f5;
  min-height: 100vh;
  background: radial-gradient(circle at top right, #e0e7ff, #f5fbff, #ffffff);
  min-height: 100vh;
  margin: auto;
}

/* -------- Hero section styling -------- */

.open-card {
  padding: 1rem 2rem;
  border: 1px solid var(--secondary-text-color);
  border-radius: 2rem;
  margin-bottom: 4rem;
  font-size: 1.2rem;
}

.title {
  text-align: center;
}

#main-title {
  font-family: var(--heading-font);
  font-weight: 800;
  font-size: 5.5rem;
  padding-bottom: 3rem;
}

#main-title > span {
  display: block;
  color: var(--secondary-text-color);
}

#sub-title {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 1.7rem;
  max-width: 80rem;
  text-align: center;
  padding-bottom: 5rem;
}

.call-to-action {
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--primary-text-color);
  color: var(--milk-white);
  border-radius: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

/* -------- Generation Section Styling -------- */

.generation-header {
  text-align: center;
  padding: 2rem 0;
}

.generation-header h2 {
  color: var(--primary-text-color);
  font-family: var(--heading-font);
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.generation-header p {
  font-size: 1.4rem;
}

.generation-container {
  min-height: 50rem;
  width: 100%;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--tertiary-text-color);
  border-radius: 1rem;
}

/* -------- Features Section Styling -------- */

.features-section {
  text-align: center;
  padding: 2rem 0;
}

.features-header {
  margin-bottom: 4rem;
}

.features-header h2 {
  font-family: var(--heading-font);
  color: var(--primary-text-color);
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.features-header p {
  font-size: 1.4rem;
}
