:root {
  --milk-white: #f5f5f5;
  --primary-text-color: #2b2b2b;
  --secondary-text-color: #636363;
  --tertiary-text-color: #c7cfd7;
  --heading-font: "Plus Jakarta Sans", sans-serif;
  --text-font: "Inter", sans-serif;
}
